{% extends 'base.html' %}

{% block content %}
    <main class="container detail-container" id="app">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">{{ lesson.nome }}</h1>
                <h2 class="card-subtitle mb-2 text-muted">Il giorno {{ lesson.ora_inizio|date:"l d F " }} dalle ore {{ lesson.ora_inizio|date:"H:i" }} alle ore {{ lesson.ora_fine|date:"H:i" }}</h2>
                <p class="card-text">{{ lesson.tipo_luogo }} {{ lesson.nome_luogo }} edificio {{ lesson.id_edificio }} </p>
                <p><a v-bind:href="'/user/'+ user_name.username">Torna al menu principale</a></p>
            </div>
        </div>
    </main>
{% endblock %}