{% extends 'base.html' %}

{% block content %}
<main class="col-6 mx-auto mt-5">
  <Title>Login</Title>
	<form method="POST" action="login">{% csrf_token %}
		<div class="container container-login">
			<div class="mb-3 login-username">
			  	<label for="username" class="form-label">Nome Utente</label>
			  	<input type="text" name="username" class="form-control" id="username" aria-required="true" aria-describedby="username-descr">
				<p class="username-descr">Inserisci qui il tuo nome utente</p>
			</div>
			<div class="mb-3 ">
			  	<label for="login-password" class="form-label">Password</label>
			  	<input type="password" name="password" class="form-control" id="login-password" aria-required="true"  aria-describedby="password-descr">
				<p class="password-descr">Inserisci qui la tua password</p>
			</div>
			<button 
			  	type="submit" 
			  	class="btn btn-primary"
				aria-label="accedi"
			>   
			  	Accedi
			</button>
			<div class="mb-3 login-register">
			  <div class="text-center">
				<a class="small" href="/register">Se non sei registrato puoi farlo qua.</a>
			  </div>
			</div>
		</div>
	</form>
</main>

{% endblock %}
