{% extends 'base.html' %}

{% block content %}
<div class="col-6 mx-auto mt-5">
  <Title>Login</Title>
	<form method="POST" action="login">{% csrf_token %}

		<div class="container container-login" role="form" aria-label="Login form">
			<div class="mb-3 login-username"
				name="sezione nome utente">
			  	<label for="LogInNomeUtente" class="form-label">Nome Utente</label>
			  	<input type="text" name="username" class="form-control" id="LogInNomeUtente" aria-required="true" placeholder="Inserisci il tuo nome utente" role="button">
			</div>
			<div class="mb-3 "
				name="sezione password">
			  	<label for="UserNameHelp" class="form-label">Password</label>
			  	<input type="password" name="password" class="form-control" id="UserNameHelp" aria-required="true"  placeholder="Inserisci la tua password">
			</div>
			<button 
			  	type="submit" 
			  	class="btn btn-primary"
				data-message="Clicca su questo tasto per accedere"
			>   
			  	Accedi
			
			</button>
			<div class="mb-3 login-register">
			  <div class="text-center">
				<a class="small" href="/register">Se non sei registrato puoi farlo qua.</a>
			  </div>
			</div>
		</div>
	</form>
</div>

{% endblock %}
