{% extends 'base.html' %}

{% block content %}
    <div class="container container-login">
        <div class="card mt-auto mb-auto">
            <div class="card-body">
                <h5 class="card-title">{{ office_hour.nome }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Dalle ore {{ office_hour.ora_inizio }} alle ore {{ office_hour.ora_fine }}</h6>
                <p class="card-text">{{ office_hour.id_edificio }}</p>
                <p class="card-text">Da: {{ office_hour.tipo_luogo }}</p>
                <p class="card-text">Da: {{ office_hour.nome_luogo }}</p>
            </div>
        </div>
    </div>
{% endblock %}