{% extends 'base.html' %}

{% block content %}
<div id="app">
   
    <div class="container text-center justify-content-center container-user">
        <h1 class="text-center">Ciao <span v-model="user_name">{{username}}</span></h1>
        <br>
        <h2 >
            Seleziona la data: [[date.day]] 
        </h2>
        <br>
        <form @submit.prevent="getUpdates">
            <input type="date" v-model="date.day"/>
            <button class="btn btn-primary" type="submit">Seleziona</button>
         </form>
    </div>
    
    <br>
    <h2>Aggiornamenti odierni</h2>
    <br>
    <!--Avvisi-->
    <h3>Avvisi:</h3>

    <div class="container" id="app">
        <div class="row" v-if="updates[0].length">
            <div v-for="notice, index in updates[0]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[notice.titolo]]</p>
                      <button class="btn btn-primary" @click="hide(notice)">Nascondi</button>
                      <button class="btn btn-primary" @click="get_detail_notice(notice)">Vedi dettaglio</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessun nuovo avviso oggi 
        </div>
    </div>

    <br>


    <h3>Avvisi nascosti:</h3>


    <div class="container" id="app">
        <div class="row" v-if="updates[1].length">
            <div v-for="notice, index in updates[1]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[notice.titolo]]</p>
                      <button class="btn btn-primary" @click="retrive(notice)">Ripristina</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessun avviso nascosto oggi 
        </div>
    </div>



    <br>
    <br>

<h3>Lezioni:</h3>

    <div class="container" id="app">
        <div class="row" v-if="updates[2].length">
            <div v-for="lesson, index in updates[2]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[lesson.nome]]</p>
                      <button class="btn btn-primary" @click="hide(lesson)">Nascondi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessuna lezione oggi 
        </div>
    </div>

<br>
<h3>Lezioni nascoste:</h3>

    <div class="container" id="app">
        <div class="row" v-if="updates[3].length">
            <div v-for="lesson, index in updates[3]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[lesson.nome]]</p>
                      <button class="btn btn-primary" @click="retrive(lesson)">Ripristina</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessuna lezione oggi 
        </div>
    </div>

<br>
<br>

<h3>Ricevimenti:</h3>

    <div class="container" id="app">
        <div class="row" v-if="updates[4].length">
            <div v-for="office_hour, index in updates[4]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[office_hour.nome]]</p>
                      <button class="btn btn-primary" @click="hide(office_hour)">Nascondi</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessun ricevimento oggi  
        </div>
    </div>

<br>
<h3>Ricevimenti nascosti:</h3>

    <div class="container" id="app">
        <div class="row" v-if="updates[5].length">
            <div v-for="office_hour, index in updates[5]" class="col-md-3 col-6 my-1">
            <!--Qua metto le carte-->      
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text">[[office_hour.nome]]</p>
                      <button class="btn btn-primary" @click="retrive(office_hour)">Ripristina</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" v-else>
            Nessun ricevimento nascosto oggi 
        </div>
    </div>

<br>
</div>
{% endblock %}

    
