a {
  color: #056674;
}

a:hover,
a:focus {
  color: #ff4b5c;
  text-decoration: none;
}

a:active {
  color: #000000;
  background-color: #ff4b5c;
}

/*base.html*/
.body-class{
  background-color: #F7F6F2;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: large;
}

/*login.html*/
.container-login{
  background-color: #F0E5CF;
  margin-top: 30%;
  border-radius: 15px;
}

.login-username{
  padding: 3% 0 0 0;
}

.login-register{
  padding: 0 0 3% 0;
}

/*register*/

.container-register {
  background-color: #F0E5CF;
  margin-top: 15%;
  border-radius: 15px;
}

.register-username {
  padding: 3% 0 0 0;
}

/*user*/

.container-user{
  background-color: #F0E5CF;
  border-radius: 15px;
  padding: 3% 0 3% 0;
}


.detail-container{
  background-color: #F0E5CF;
  margin-top: 30%;
  border-radius: 15px;
}

.form-data:focus{
  color:#ff4b5c;  
}