/*base.html*/
.body-class{
  background-color: #F9F7F7;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  font-size: large;
}

/*login.html*/
.container-login{
  background-color: #DBE2EF;
  margin-top: 30%;
  border-radius: 15px;
}

.login-username{
  padding: 3% 0 0 0;
}

.login-register{
  padding: 0 0 3% 0;
}

/*register*/

.container-register {
  background-color: #DBE2EF;
  margin-top: 15%;
  border-radius: 15px;
}

.register-username {
  padding: 3% 0 0 0;
}

/*user*/

.container-user{
  background-color: #DBE2EF;
  border-radius: 15px;
  padding: 3% 0 3% 0;
}


.detail-container{
  background-color: #DBE2EF;
  margin-top: 30%;
  border-radius: 15px;
}